<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <!-- three.js、 stats、gui、tween(V8直接运行)-->
    <script type="text/javascript" src="static/js/three.min.js"></script>
    <script type="text/javascript" src="static/js/stats.min.js"></script>
    <script type="text/javascript" src="static/js/dat.gui.min.js"></script>
    <script type="text/javascript" src="static/js/tween.min.js"></script>
    <!-- Geometry、OrbitControls(JavaScript)-->
    <script type="text/javascript" src="static/js/Geometry.js"></script>
    <script type="text/javascript" src="static/js/OrbitControls.js"></script>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
<!--<canvas id="myCanvas"></canvas>-->
</body>
</html>
<script type="module">
  /**
   * 自定义类
   * **/
  class BlockChain {
    blockMaterial;
    chainMaterial;
    blockNumber;
    blockSize;
    blocks = [];
    blocksPositions = [];

    chains = [];

    height = 10;
    time = 900;

    constructor(blockMaterial, chainMaterial, blockNumber = 13, blockSize = 1) {
      /**
       * @description : 创建并显示区块链
       * @param  : blockMaterial 区块的材质
       * @param  : chainMaterial 链的材质
       * @param  : blockNumber 区块数量
       * @param  : blockSize 区块大小
       * @return :
       * @date   : 16:32 2021/10/8
       * @author : cups
       **/
      // 保留相关参数
      this.blockMaterial = blockMaterial;
      this.chainMaterial = chainMaterial;
      this.blockNumber = blockNumber;
      this.blockSize = blockSize;
      // 计算每个Block的位置
      let index = 0;
      if (this.blockNumber % 2 === 0) {
        index = 0.5;
      }
      for (index; index < this.blockNumber / 2; index++) {
        if (index === 0) {
          this.blocksPositions.push(0);
        } else {
          this.blocksPositions.push((-index) * 2);
          this.blocksPositions.push(index * 2);
        }
      }
      this.blocksPositions = this.bubbleSort(this.blocksPositions);
      // 按blockNumber, blockSize添加Block
      for (let index = 0; index < this.blockNumber; index++) {
        this.blocks[index] = new Block(this.blockMaterial, this.blockSize, this.blocksPositions[index], this.height, 0);
        this.blocks[index].setPosition(this.blocksPositions[index], 0, 0);
        this.blocks[index].show(scene);
      }
      // 添加Chain(链条)
      for (let index = 1; index < this.blockNumber; index++) {
        this.chains[index - 1] = new Chain(chainMaterial);
        this.chains[index - 1].setPosition(this.blocksPositions[index - 1] + 1, 0, 0);
        this.chains[index - 1].show(scene);
      }
    };

    async animation() {
      /**
       * @description 显示动画函数： 添加一个lock
       * @param  :
       * @return :
       * @date   : 16:32 2021/10/8
       * @author : cups
       **/
        // 将第一个Block放在队列尾部
      let block;
      for (let index = 0; index < this.blockNumber; index++) {
        if (index === 0) {
          block = this.blocks[0];
        } else {
          this.blocks[index - 1] = this.blocks[index];
        }
      }
      this.blocks[this.blockNumber - 1] = block;

      // 除最后一个Block外，所有Block左移2
      for (let index = 0; index < this.blocks.length - 1; index++) {
        this.blocks[index].move(this.blocks[index].getPositionX(), 0, 0, this.blocks[index].getPositionX() - 2, 0, 0, this.time * 0.5);
      }
      // 最后一个chain不可见
      this.chains[this.blockNumber - 2].setPosition(0, 0, 0);

      // 最后一个Block，从(this.blocksPositions[this.blockNumber - 1], 0, this.height)掉落
      this.blocks[this.blockNumber - 1].setPosition(this.blocksPositions[this.blockNumber - 1], 0, this.height);
      await this.blocks[this.blockNumber - 1].move(this.blocksPositions[this.blockNumber - 1], 0, this.height, this.blocksPositions[this.blockNumber - 1], 0, 0, this.time);
      this.chains[this.blockNumber - 2].setPosition(this.blocksPositions[this.blockNumber - 2], 0, 0);
    };

    bubbleSort(arr) {
      /**
       * @description 冒泡法排序
       * @param  : arr 待排序数组
       * @return : arr 排序完成后的数组
       * @date   : 16:34 2021/10/8
       * @author : cups
       **/
      const list = arr.slice();
      const len = list.length;
      for (let i = 0; i < len; i++) {
        for (let j = len - 1; j > i; j--) {
          if (list[j] < list[j - 1]) {
            [ list[j - 1], list[j] ] = [ list[j], list[j - 1] ];
          }
        }
      }
      return list;
    };
  }

  class Block {
    material;
    geometry;
    mesh;

    constructor(material, size = 1) {
      /**
       * @description 创建一个Block
       * @param  : material Block材质
       * @return : size Block大小
       * @date   : 16:35 2021/10/8
       * @author : cups
       **/
      // 材料
      this.material = material;
      // 立方体
      this.geometry = new THREE.BoxGeometry(size, size, size);
      // 三角网
      this.mesh = new THREE.Mesh(this.geometry, this.material);
      this.mesh.castShadow = true;
    };

    setPosition(x, y, z) {
      /**
       * @description 设置Block位置
       * @param  : x x坐标
       * @param  : y y坐标
       * @param  : z z坐标
       * @return :
       * @date   : 16:36 2021/10/8
       * @author : cups
       **/
      this.mesh.position.set(x, y, z);
    }

    getPositionX() {
      return this.mesh.position.x;
    }

    show(scene) {
      /**
       * @description 在场景中展示Block
       * @param  : scene 场景
       * @return :
       * @date   : 16:37 2021/10/8
       * @author : cups
       **/
      scene.add(this.mesh);
    }

    move(x, y, z, x_, y_, z_, time = 500) {
      /**
       * @description 移动Block
       * @param  : x 初始位置x
       * @param  : y 初始位置y
       * @param  : z 初始位置z
       * @param  : x_ 结束位置x_
       * @param  : y_ 结束位置y_
       * @param  : z_ 结束位置z_
       * @return :
       * @date   : 16:38 2021/10/8
       * @author : cups
       **/
      return new Promise((async (resolve) => {
        let mesh = this.mesh;
        let onUpdate = function() {
          if (this.x === x_ && this.y === y_ && this.z === z_) {
            mesh = undefined;
            resolve(1);
          } else {
            mesh.position.set(this.x, this.y, this.z);
          }
        };
        new TWEEN.Tween({ x: x, y: y, z: z })
          .to({ x: x_, y: y_, z: z_ }, time)
          .easing(TWEEN.Easing.Bounce.Out)
          .onUpdate(onUpdate)
          .start();
      }));
    }
  }

  class Chain {
    material;
    geometry;
    mesh;

    constructor(material) {
      /**
       * @description 创建一个chain
       * @param  : material chain的材质
       * @return :
       * @date   : 16:40 2021/10/8
       * @author : cups
       **/
      // 材料
      this.material = material;
      // 圆柱体 顶圆半径、底圆半径、圆柱体高度、经度、纬度
      this.geometry = new THREE.CylinderGeometry(0.1, 0.1, 2, 40, 40);
      // 三角网
      this.mesh = new THREE.Mesh(this.geometry, this.material);
      this.mesh.castShadow = true;
      // 位置摆正
      this.mesh.rotation.set(0, 0, Math.PI * 0.5);
    }

    setPosition(x, y, z) {
      /**
       * @description 设置chain位置
       * @param  : x x坐标
       * @param  : y y坐标
       * @param  : z z坐标
       * @return :
       * @date   : 16:36 2021/10/8
       * @author : cups
       **/
      this.mesh.position.set(x, y, z);
    }

    getPositionX() {
      return this.mesh.position.x;
    }

    show(scene) {
      /**
       * @description 在场景中展示chain
       * @param  : scene 场景
       * @return :
       * @date   : 16:37 2021/10/8
       * @author : cups
       **/
      scene.add(this.mesh);
    }

    move(x, y, z, x_, y_, z_, time = 500) {
      /**
       * @description 移动chain
       * @param  : x 初始位置x
       * @param  : y 初始位置y
       * @param  : z 初始位置z
       * @param  : x_ 结束位置x_
       * @param  : y_ 结束位置y_
       * @param  : z_ 结束位置z_
       * @return :
       * @date   : 16:38 2021/10/8
       * @author : cups
       **/
      return new Promise((async (resolve) => {
        let mesh = this.mesh;
        let onUpdate = function() {
          if (this.x === x_ && this.y === y_ && this.z === z_) {
            mesh = undefined;
            resolve(1);
          } else {
            mesh.position.set(this.x, this.y, this.z);
          }
        };
        new TWEEN.Tween({ x: x, y: y, z: z })
          .to({ x: x_, y: y_, z: z_ }, time)
          .easing(TWEEN.Easing.Bounce.Out)
          .onUpdate(onUpdate)
          .start();
      }));
    }
  }

  /**
   * 全局参数
   * **/
    // 3D必备参数：场景、环境光源、点光源、聚光灯、摄像机、渲染器、控制器
  let scene;
  let pointLight;
  let ambientLight;
  let spotLight;
  let camera;
  let renderer;
  let controls;
  // 背景相关参数：网格、x轴、y轴、z轴
  let grid;
  let coordinateX;
  let coordinateY;
  let coordinateZ;
  // 调试相关：GUI、监控状态
  let gui;
  let stats;
  // 区块链相关参数：区块贴图，区块材质，链贴图，链材质，区块链
  let blockTexture;
  let blockMaterial;
  let chainTexture;
  let chainMaterial;
  let blockChain;

  /**
   * 区块链贴图
   * **/
  blockTexture = THREE.ImageUtils.loadTexture('static/images/block.png');
  blockMaterial = new THREE.MeshPhongMaterial({
    map: blockTexture,
    bumpMap: blockTexture,
    bumpScale: 0.8,
  });
  chainTexture = THREE.ImageUtils.loadTexture('static/images/chain.png');
  chainMaterial = new THREE.MeshPhongMaterial({
    map: chainTexture,
    bumpMap: chainTexture,
    bumpScale: 0.8,
  });

  // 1. 场景
  scene = new THREE.Scene();

  // 2.1 环境光
  ambientLight = new THREE.AmbientLight(0x404040, 1);
  scene.add(ambientLight);
  // 2.2 点光源
  pointLight = new THREE.PointLight(0xffffff);
  pointLight.position.set(20, 30, 50);
  scene.add(pointLight);
  // 2.3 聚光灯
  spotLight = new THREE.SpotLight(0xffffff);
  spotLight.position.set(30, -30, 30);
  spotLight.castShadow = true;    // 让光源产生阴影
  spotLight.shadow.mapSize.width = 2048;  //设置阴影分辨率
  spotLight.shadow.mapSize.height = 2048;
  scene.add(spotLight);

  // 3. 摄像机(透视相机)
  camera = new THREE.PerspectiveCamera(100, window.innerWidth / window.innerHeight, 0.1, 1000);
  camera.position.set(0, -9, 5);
  camera.lookAt(0, 0, 0);

  // 4. 渲染器
  renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
  renderer.setSize(window.innerWidth, window.innerHeight * 0.95);
  renderer.shadowMapEnabled = true;    // 告诉渲染器需要阴影
  document.body.appendChild(renderer.domElement);

  // 5. 控制器
  controls = new THREE.OrbitControls(camera, renderer.domElement);
  controls.addEventListener('change', render);
  let controlsEnd = () => {
    console.log('controlsEnd:', camera.position);
  };
  controls.addEventListener('end', controlsEnd);

  // 6.1 背景网格
  // grid = new THREE.GridHelper(20, 20, 0x000000, 0x000000);
  // grid.material.opacity = 0.2;
  // grid.material.transparent = true;
  // grid.receiveShadow = true;
  // scene.add(grid);
  // 6.2 直角坐标系
  // coordinateX = new THREE.Line(new THREE.BufferGeometry().setFromPoints([ new THREE.Vector3(0, 0, 0), new THREE.Vector3(2, 0, 0) ]), new THREE.LineBasicMaterial({ color: 0xff0000 }));  // 根据材料创建线条
  // coordinateY = new THREE.Line(new THREE.BufferGeometry().setFromPoints([ new THREE.Vector3(0, 0, 0), new THREE.Vector3(0, 2, 0) ]), new THREE.LineBasicMaterial({ color: 0x00ff00 }));  // 根据材料创建线条
  // coordinateZ = new THREE.Line(new THREE.BufferGeometry().setFromPoints([ new THREE.Vector3(0, 0, 0), new THREE.Vector3(0, 0, 2) ]), new THREE.LineBasicMaterial({ color: 0x0000ff }));  // 根据材料创建线条
  // scene.add(coordinateX);  // 将线条添加到场景内
  // scene.add(coordinateY);  // 将线条添加到场景内
  // scene.add(coordinateZ);  // 将线条添加到场景内
  // 6.3 创建平面
  let groundGeometry = new THREE.PlaneGeometry(30, 30);
  let groundMaterial = new THREE.MeshLambertMaterial({ color: new THREE.Color('skyblue') });
  let ground = new THREE.Mesh(groundGeometry, groundMaterial);
  ground.receiveShadow = true;
  ground.position.set(0, 0, -0.5);
  scene.add(ground);
  // 6.4 区块链(立方体)
  blockChain = new BlockChain(blockMaterial, chainMaterial, 13);

  // 7.1 GUI
  gui = new dat.GUI();
  let interval;
  let folderLocal = gui.addFolder('按钮');
  let params = {
    登录or注册: function() {
      window.location.href = ('./login');
    },
    startAnimation: function() {
      if (interval) clearInterval(interval);
      interval = window.setInterval(blockChainAnimation, 1000);
    },
    stopAnimation: function() {
      clearInterval(interval);
    },
  };
  folderLocal.add(params, '登录or注册');
  folderLocal.add(params, 'startAnimation');
  folderLocal.add(params, 'stopAnimation');
  folderLocal.open();
  // 7.2 Stats
  // stats = new Stats();
  // stats.domElement.style.position = 'absolute';
  // stats.domElement.style.right = '8px';
  // stats.domElement.style.top = '8px';
  // document.body.appendChild(stats.domElement);

  // 8.1 定时器更新动画
  interval = window.setInterval(blockChainAnimation, 1000);

  function blockChainAnimation() {
    blockChain.animation();
  }

  // 8.2 根据用户是否打开网页，设置定时器
  document.addEventListener('visibilitychange', function() {
    if (document.visibilityState === 'hidden') {
      window.clearInterval(interval);
    }
    if (document.visibilityState === 'visible') {
      if (interval) window.clearInterval(interval);
      interval = window.setInterval(blockChainAnimation, 1000);
    }
  });

  // 8.3 定时渲染3D模型
  function render() {
    requestAnimationFrame(render);
    TWEEN.update();
    renderer.render(scene, camera);
  }

  render();
</script>


